@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: linear-gradient(to right, #100f10, #242424, #100f10);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}

/* ======= BADGES ======= */
.badge {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 3rem;
  margin: 3rem;
}

.badge-1,
.badge-2,
.badge-3,
.badge-4,
.badge-5,
.badge-6,
.badge-7,
.badge-8,
.badge-9,
.badge-10 {
  width: 6rem;

  border-radius: 8px;
}

.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7,
.div-8,
.div-9,
.div-10 {
  margin: 10px;
}
